@media screen and (min-width: 1200px) {
    #name {
        font-size: 8em;
    }

    #slogan {
        margin-bottom: 35%;
        font-size: 3em;
    }

    #more {
        font-size: 1.5em;
        width: 80%;
        margin: 10% auto;
    }

    .left_bracket, .right_bracket {
        font-size: 4.5em;
    }

    .section_subtitle {
        font-size: 3em;
    }

    .content_row {
        margin: 2% auto;
    }

    .content_row h1 {
        font-size: 5em;
        padding-bottom: 5%;
    }

    .content_row p {
        font-size: 1.5em;
    }

    p > span {
        font-size: 3em;
    }

    #service {
        margin-top: -27%;
        margin-bottom: -10%;
    }

    #service .block {
        padding-top: 15%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    #name {
        font-size: 6em;
    }

    #slogan {
        margin-bottom: 30%;
        font-size: 2.5em;
    }

    #more {
        font-size: 1.5em;
        margin: 10% auto;
        width: 100%;
    }

    .left_bracket, .right_bracket {
        font-size: 3.5em;
    }

    .section_subtitle {
        font-size: 3em;
    }

    .content_row {
        margin: 2% auto;
    }

    .content_row h1 {
        font-size: 4em;
    }

    .content_row p {
        font-size: 1.2em;
    }

    p > span {
        font-size: 2em;
    }

    #service {
        margin-top: -27%;
        margin-bottom: -13%;
    }

    #service .block {
        padding-top: 18%;
    }

}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #name {
        font-size: 8em;
    }

    #slogan {
        margin-bottom: 20%;
        font-size: 3em;
    }

    #more {
        font-size: 1.5em;
        /*margin-bottom: 5%;*/
        width: 40%;
        margin: 5% auto;
    }

    .left_bracket, .right_bracket {
        font-size: 3em;
    }

    .section_subtitle {
        font-size: 2em;
    }

    .content_row {
        margin: 2% auto;
    }

    .content_row h1 {
        font-size: 3em;
    }

    .content_row p {
        font-size: 1em;
    }

    p > span {
        font-size: 1.5em;
    }

    #service {
        margin-top: -27%;
        margin-bottom: -13%;
    }

    #service .block {
        padding-top: 20%;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    #name {
        font-size: 5em;
    }

    #slogan {
        margin-bottom: 15%;
        font-size: 2em;
    }

    #more {
        font-size: 1em;
        margin: 5% auto;
        width: 50%;
    }

    .left_bracket, .right_bracket {
        font-size: 2.5em;
    }

    .section_subtitle {
        font-size: 1.5em;
    }

    .content_row {
        margin: 2% auto;
    }

    .content_row h1 {
        font-size: 2.5em;
    }

    .content_row p {
        font-size: 1em;
    }

    p > span {
        font-size: 1.2em;
    }

    #service {
        margin-top: -27%;
        margin-bottom: -15%;
    }

    #service .block {
        padding-top: 26%;
    }

    #service .content_row {
        padding-bottom: 30%;
    }

    .form-control {
        width: 100%;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 479px) {
    #name {
        font-size: 3em;
    }

    #slogan {
        margin-bottom: 7.5%;
        font-size: 1.5em;
    }

    #more {
        font-size: 0.5em;
        margin: 2.5% auto;
        width: 65%;
    }

    .left_bracket, .right_bracket {
        font-size: 2em;
    }

    .section_subtitle {
        font-size: 1.3em;
    }

    .content_row {
        margin: 2% auto;
    }

    .content_row h1 {
        font-size: 2em;
    }

    .content_row p {
        font-size: 0.8em;
    }

    p > span {
        font-size: 1em;
    }

    #service {
        margin-top: -30%;
        margin-bottom: -20%;
    }

    #service .block {
        padding-top: 35%;
    }

    #service .content_row {
        padding-bottom: 35%;
    }

    .promo {
        -webkit-clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%);
        clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%);
    }

    .section_icon {
        width: 60%;
    }

    .form-control {
        width: 100%;
        margin-top: 10px;
    }

}