@charset "UTF-8";
/* CSS Document */
body {
    margin: auto;
    padding: 0;
    height: 100%;
}

/* header */
.slide {
    background: url("../img/Zero_to_One.jpg") no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /*width: 100%;*/
    /*height: auto;*/
    font-family: 'Libre Baskerville', serif;
    color: white;
}

/* nav */
.navbar-default {
    background: transparent;
    border-color: transparent;
}

.navbar {
    margin-bottom: 0px;
    border: none;
}

.navbar-center {
    text-align: center;
}

.nav-center {
    display: inline-block;
    float: none;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    font-size: 1.1em;
    text-decoration: none;
}

.navbar-default .navbar-nav > li > a:hover {
    color: inherit;
}

.navbar-default {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}

.navbar-collapse {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* nav end */

.logo {
    /*margin: 5% auto;*/
    text-align: center;
}

#name {
    text-align: center;
    font-size: 7.5em;
}

#slogan {
    text-align: center;
    font-size: 3em;
}

/* Click to see more */
#more {
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
    width: 80%;
}

.button {
    border: 1px solid white;
}

.line_on_both_sides {
    overflow: hidden;
}

.line_on_both_sides:before, .line_on_both_sides:after {
    background-color: white;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 40px;
}

.line_on_both_sides:before {
    right: 0.1em;
    margin-right: 5px;
}

.line_on_both_sides:after {
    left: 0.1em;
    margin-left: 5px;
}

#more a {
    color: white;
    text-decoration: none;
}

/* End Click to see more */

/* All section */
.img_container {
    width: 50%;
    text-align: center;
    margin: auto;
}

.left_bracket, .right_bracket {
    font-size: 4.5em;
}

.section_icon {
    margin: auto 10%;
    opacity: 0;
}

.section_block {
    margin: 5% auto;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
}

.section_subtitle {
    font-size: 2.5em;
}

.content_row {
    width: 70%;
    margin: 2% auto;
    text-align: center;
}

.content_row h1 {
    font-size: 4.5em;
    padding-bottom: 5%;
    display: inline-block;
    vertical-align: middle;
}

.content_row p {
    text-align: center;
    margin: 5% auto;
    font-size: 1em;
    width: 100%;
}

p > span {
    font-size: 3em;
    font-weight: bold;
}

/* End all section */

/* service */
#service {
    background: url("../img/WorkPage for Web.jpg") center;
    background-size: cover;
}

#about .content_row {
    padding-bottom: 12%;
}

#service .content_row {
    padding-bottom: 20%;
}

.promo {
    -webkit-clip-path: polygon(0 27%, 100% 0, 100% 73%, 0% 100%);
    clip-path: polygon(0 27%, 100% 0, 100% 73%, 0% 100%);
}

/* End service */

#team_photo {
    margin-top: 40px;
    width: 100%;
    height: auto;
}

/* Contact */

#contact .content_row {
    width: inherit;
}

#contact ul {
    font-family: 'Montserrat', serif;
    width: 400px;
    list-style: none;
    text-align: left;
    margin-top: 30px;
}

#contact ul li img {
    height: 20px;
    width: 20px;
    margin-top: 20px;
}

#contact ul li span {
    padding-left: 20px;
    vertical-align: bottom;
}

/* End Contact */

/* Form */
form {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

/*#contact_name {*/
/*border: 1px solid black;*/
/*color: #232323;*/
/*width: 48%;*/
/*height: 50px;*/
/*margin-right: 3%;*/
/*padding: 5px;*/
/*}*/

/*#email {*/
/*border: 1px solid black;*/
/*color: #232323;*/
/*width: 48%;*/
/*height: 50px;*/
/*padding: 5px;*/
/*}*/

.form-control {
    display: inline;
    width: 49.5%;
    color: white;
    background-color: #ccc;
    border-radius: 0px;
    height: 50px;
}

#message {
    /*border: 1px solid black;*/
    color: white;
    width: 100%;
    height: 250px;
    margin-top: 10px;
    padding: 5px;
    font-weight: bold;
}

input::-webkit-input-placeholder {
    color: white !important;
}

 
input:-moz-placeholder { /* Firefox 18- */
    color: white !important;
}

 
input::-moz-placeholder {
    /* !* Firefox 19+ *! */
    color: white !important;
}

 
input:-ms-input-placeholder {
    color: white !important;
}

textarea::-webkit-input-placeholder {
    color: white !important;
}

 
textarea:-moz-placeholder { /* Firefox 18- */
    color: white !important;
}

 
textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: white !important;
}

 
textarea:-ms-input-placeholder {
     color: white !important;
}

#submit {
    border: 3px solid black;
    background-color: white;
    font-style: italic;
    color: #232323;
    width: 200px;
    height: 40px;
    margin-top: 20px;
}

#submit:hover {
    background-color: #232323;
    color: white;
}

/* End Form */

/* Footer */
footer {
    text-align: center;
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin: -3em auto auto auto;
}

footer i {
    padding: 5px;
}

footer p {
    font-size: 10px;
    margin-top: 10px;
}

/* End Footer */

/* Animations */
/* Underline From Center When scroll */
.sliding-middle-out {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
}

.sliding-middle-out:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: #232323;
    transition: width 0.8s ease-out, background-color 0.8s ease-out;
}

.sliding-middle-out.special:after {
    width: 100%;
}

/* ENd Underline From Center When scroll */

/* Underline From Center */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #FFFFFF;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

/* End Animations */

