@charset "UTF-8";
/* CSS Document */
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

header {
    background-image: url(../img/Zero%20to%20One.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    color: white;
}

.navbar-default {
    background:transparent;
    border-color: transparent;
}
#nav {
    padding-top: 25px;
    width: 50%;
    margin: 0 auto;
    list-style: none;
}

#nav li {
    float: left;
}

#nav a {
    display: block;
    text-align: center;
    margin: 0 26px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.logo {
    margin: 5% auto;
    text-align: center;
    /*width: 10%;*/
    /*height: auto;*/
    /*background-image: url(../img/Zerone_logo_2.svg);*/
    /*background-size: cover;*/
}

#name {
    margin: 2% auto auto auto;
    text-align: center;
    font-size: 10em;
    font-family: 'Libre Baskerville', serif;
}

#slogan {
    margin: 0px auto auto auto;
    text-align: center;
    font-size: 6em;
}

#more {
    font-size: 20px;
    color: white;
    overflow: hidden;
    text-align: center;
    margin: 5% auto auto auto;
}

#more:before, #more:after {
    background-color: white;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 40px;
}

#more:before {
    right: 0.1em;
    margin-right: 5px;
}

#more:after {
    left: 0.1em;
    margin-left: 5px;
}

#more a {
    color: white;
}
.line{
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    border: 1px black solid;
}
.section_icon{
    margin: auto 10%;
}

.section_block {
    margin: 5% auto;
    text-align: center;
}
.section_title{
    font-size: 9em;
}
.section_subtitle{
    font-size: 4em;
    margin-top: 5%;
    margin-bottom: 5%;
}
.content_row{
    width: 40%;
    margin: 2% auto;
    text-align: center;
}

#about_icon {
    width: 100px;
    height: 100px;
    margin: 50px auto auto auto;
}

.about h1 {
    margin: 20px auto auto auto;
    font-size: 60px;
    border-bottom: solid 1px black;
    padding-bottom: 20px;
    width: 300px;
}

.about h2 {
    margin-top: 30px;
}

.about p {
    margin: 30px auto auto auto;
}

#service{
    background: url("../img/WorkPage for Web.jpg");
    background-size: cover;
    margin-top: -25%;
}
.promo {
    -webkit-clip-path: polygon(0 27%, 100% 0, 100% 73%, 0% 100%);
    clip-path: polygon(0 27%, 100% 0, 100% 73%, 0% 100%);
}
.block{
    padding-top: 15%;
}
.section_block>.content_row{
    padding-bottom: 15%;
}
.navbar-center{
    text-align: center;
}
.nav-center{
    display: inline-block;
    float: none;
}
.navbar-default .navbar-nav>li>a {
    color: white;
    font-size: 1.5em;
}
#work{
    margin-top: -20%;
}
#work>.content_row{
    margin: 2% auto 0 auto;
    padding-bottom: 0;
}
.hexagon_image{
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transform:rotate(15deg);
    -ms-transform:rotate(15deg); 	/* IE 9 */
    -moz-transform:rotate(15deg); 	/* Firefox */
    -webkit-transform:rotate(15deg); /* Safari 和 Chrome */
    -o-transform:rotate(15deg);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}
.hexagon_image:hover{
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
}
.hexagon_box{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    position: relative;
}
.hexagon {
    display: inline;
    float: left;
    /*position: relative;*/
    height: 300px;
    width: 350px;
}
#hex_first{
    margin: 0 0 0 35%;
}
#hex_second {
    margin: 6% 0 0 -4%;
}
#hex_third {
    clear: left;
    margin: -13% 0 0 20%;
}
#hex_forth{
    clear: left;
    margin: -15% 0 0 40%;
}