@charset "UTF-8";
/* CSS Document */
body{
	width: 100%;
	margin: auto;
	padding: 0;
}

.test{
	margin: auto;
	text-align:center;
	}
h1{
	margin: auto;
	text-align:center;
	display: inline-block;
}
p{	
    font-size: 36px;
	text-align:center;
	display: inline-block;
	}


/* Footer */
footer i{
	padding: 5px;
}
footer p{
	font-size: 10px; 
	margin-top: 10px;
}
/* End Footer */

/* Animations */


/* End Animations */